.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 10px 40px;
}
.price{
    color: #ff3f87;
}
.button-bg{
    background-image: linear-gradient(to bottom,rgb(255, 88, 155) 0%, rgb(255, 19, 101) 100%);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    padding: 9px 25px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

.cat1,.cat2,.cat3{
    padding: 10px 40px;
    border-radius:10px ;
    color: #fff;
}

.cat1{
    background-color: orange;
}
.cat2{
    background-color: plum;
}
.cat3{
    background-color: blue;
}
.categories img{
    width: 100px;
}